{% extends 'main/header.html' %}
{% block head_title %}Home{% endblock head_title %}
{% block content %}
{% include "main/includes/messages.html" %}
<div class='row text-center'>
  <div class='col'>
      <h3>Trader Feed</h3>
  </div>
</div>

<div class="container gedf-wrapper">
    {% if user.is_authenticated %}
  <div class="row">
      <div class="col-md-3">
          <div class="card">
              <div class="card-body">
                  <div class="h5"><img class="thumbnail" width="90" height="90" src="{{ user.profile.image.url  }}" alt=""></div>
                  <div class="h7"><strong>{{ user.username }}</strong></div>
                  <div class="h7">{{ user.profile.bio }}</div>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                      <div class="h6 text-muted">Followers</div>
                      <div class="h5">5.2342</div>
                  </li>
                  <li class="list-group-item">
                      <div class="h6 text-muted">Following</div>
                      <div class="h5">6758</div>
                  </li>
                  <li class="list-group-item">Smallcaps</li>
              </ul>
          </div>
      </div>
      <div class="col-md-6 gedf-main" >
          <!--- \\\\\\\Post-->
          <div class="card gedf-card navbar navbar-expand-lg navbar-dark bg-dark" >
              <div class="card-header">
                          <a  href="post/create/" style= "color:white ">Share a Trade</a>
              </div>
          </div>
          {% else %}
          <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Please sign in to create posts and view profiles.</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 gedf-main" >
                <!--- \\\\\\\Post-->
          {% endif %}
          <br>
{% for post in posts %}
          <!--- \\\\\\\Post-->
          <div class="card gedf-card">
              <div class="card-header">
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="mr-2">
                              <img class="thumbnail" width="45" height="45" src="{{ post.user.profile.image.url }}" alt="">
                          </div>
                          <div class="ml-2">
                              <div class="h5 m-0">
                                <a class="mr-2" href="{% url 'main:user-posts' post.user.username %}">{{ post.user }}</a>
                              </div>
                              <div class="h7 text-muted"><a href ="{% url 'main:post-detail' post.id %}">{{ post.date_posted|date:"F d, Y" }}</a></div>
                          </div>
                      </div>
                      <div>
                          <!--div class="dropdown">
                              <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fa fa-ellipsis-h"></i>
                              </button>
                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                  <div class="h6 dropdown-header">Configuration</div>
                                  <a class="dropdown-item" href="#">Save</a>
                                  <a class="dropdown-item" href="#">Hide</a>
                                  <a class="dropdown-item" href="#">Report</a>
                              </div>
                          </div-->
                      </div>
                  </div>
              </div>
              <div class="card-body">
                  <a class="card-link" href="#">
                      <!-- h5 class="card-title"> Title </h5 -->
                  </a>
                  <p class="card-text">
                    {{ post.content }}
                  </p>
              </div>
              <div class="card-footer">
                  <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                  <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
              </div>
          </div>
          <br>
          {% endfor %}
          {% if is_paginated %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %} <!-- loop the pages for num as current page-->
                        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                    {% endif %}
                    </ul>
                </nav>
          {% endif %}
          <!-- Post /////-->
      </div>
      <div class="col-md-3">
          <div class="card gedf-card">
              <div class="card-body">
                  <h5 class="card-title">Side bar</h5>
                  <h6 class="card-subtitle mb-2 text-muted">some shit here</h6>
                  <p class="card-text">some resources here</p>
                  <a href="#" class="card-link">links</a>
                  <a href="#" class="card-link">links</a>
              </div>
          </div>
          <br>
          <div class="card gedf-card">
                  <div class="card-body">
                      <h5 class="card-title">Side bar</h5>
                      <h6 class="card-subtitle mb-2 text-muted">some shit here</h6>
                      <p class="card-text">some resources here</p>
                      <a href="#" class="card-link">links</a>
                      <a href="#" class="card-link">links</a>
                  </div>
              </div>
      </div>
  </div>
</div>
{% endblock %}