{% extends 'main/header.html' %}
{% block head_title %}Home{% endblock head_title %}
{% block content %}
{% include "main/includes/messages.html" %}

<div class='row text-center'>
  <div class='col'>
      <h3>Trader Feed</h3>
  </div>
</div>

<div class="container gedf-wrapper">
    {% if user.is_authenticated %}
  <div class="row">
      <div class="col-md-3">
          <div class="card">
              <div class="card-body">
                  <div class="h5"><img class="thumbnail" width="90" height="90" src="{{ user.profile.image.url  }}" alt=""></div>
                  <div class="h7"><strong>{{ user.username }}</strong></div>
                  <div class="h7">{{ user.profile.bio }}</div>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                      <div class="h6 text-muted">Followers</div>
                      <div class="h5">{{ user.profile.followers }}</div>
                  </li>
                  <li class="list-group-item">
                      <div class="h6 text-muted">Following</div>
                      <div class="h5">{{ user.profile.following }}</div>
                  </li>
                  <li class="list-group-item">Smallcaps</li>
              </ul>
          </div>
      </div>
      <div class="col-md-6 gedf-main" >
          <!--- \\\\\\\Post-->
          <div class="card gedf-card navbar navbar-expand-lg navbar-dark bg-dark" >
              <div class="card-header">
                          <a  href="post/create/" style= "color:white ">Share a Trade</a>
              </div>
          </div>
          {% else %}
          <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Please sign in to create posts and view profiles.</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 gedf-main" >
                <!--- \\\\\\\Post-->
          {% endif %}
          <br>
          {% for post in posts %}
          {% include "main/includes/post.html" %}
          {% endfor %}
          {% if is_paginated %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %} <!-- loop the pages for num as current page-->
                        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                    {% endif %}
                    </ul>
                </nav>
          {% endif %}
          <!-- Post /////-->
      </div>
      <div class="col-md-3">
          <div class="card gedf-card">
              <div class="card-body">
                  <h5 class="card-title">Side bar</h5>
                  <h6 class="card-subtitle mb-2 text-muted">some shit here</h6>
                  <p class="card-text">some resources here</p>
                  <a href="#" class="card-link">links</a>
                  <a href="#" class="card-link">links</a>
              </div>
          </div>
          <br>
          <div class="card gedf-card">
                  <div class="card-body">
                      <h5 class="card-title">Side bar</h5>
                      <h6 class="card-subtitle mb-2 text-muted">some shit here</h6>
                      <p class="card-text">some resources here</p>
                      <a href="#" class="card-link">links</a>
                      <a href="#" class="card-link">links</a>
                  </div>
              </div>
      </div>
  </div>
</div>


{% endblock %}

