
{% extends 'main/header.html' %}
{% block head_title %}Home{% endblock head_title %}
{% load crispy_forms_tags %}
{% block content %}
{% include "main/includes/messages.html" %}
{% load mytemplatetags %}
{% load static %}
<script src="{% static 'tagsinput.js' %}"></script>
<link rel="stylesheet" href="{% static 'tagsinput.css' %}"/>
<link rel="stylesheet" href="{% static 'tagsinput.css' %}"/>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div class='row text-center'>
  <div class='col'>
      <h3>Trader Feed</h3>
  </div>
</div>

<div class="container gedf-wrapper">
    {% if user.is_authenticated %}
  <div class="row">
      <div class="col-md-3">
          <div class="card">
              <div class="card-body">
                  <div class="h5"><img class="thumbnail" width="90" height="90" src="{{ user.profile.image.url  }}" alt=""></div>
                  <div class="h7"><strong>{{ user.username }}</strong></div>
                  <div class="h7">{{ user.profile.bio }}</div>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                      <div class="h6 text-muted">Followers</div>
                      <div class="h5">{{ user.profile.followers }}</div>
                  </li>
                  <li class="list-group-item">
                      <div class="h6 text-muted">Following</div>
                      <div class="h5">{{ user.profile.following }}</div>
                  </li>
                  <li class="list-group-item">Smallcaps</li>
              </ul>
          </div>
      </div>
      <div class="col-md-6 gedf-main" >
          <!--- \\\\\\\Post-->
          <div style="color:white" class="card gedf-card navbar navbar-expand-lg navbar-dark bg-dark" >
              <div class="card-header">
                <form method="GET" enctype="multipart/form-data">
                    {{ filter.form | crispy }}

                     <!-- DatePicker -->

                     <script>
                        $(function () {
                        $(".datepicker").datepicker();
                        });
                    </script>
                    <!-- DatePicker -->

                    <div class="col text-center">
                <button class="btn btn-outline-info"type="submit">Search</button>
            </div>
                </form>
              </div>
          </div>
          {% else %}
          <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Please sign in to create posts and view profiles.</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 gedf-main" >
                <!--- \\\\\\\Post-->
          {% endif %}
          <br>
         
          {% for post in object_list %} <!-- using FilterView which inherits from MultipleObjectMixin so have to use 'object_list'-->
          

          
{% load humanize %}
          <!--- \\\\\\\Post-->
          <div class="card gedf-card">
              <div class="card-header">
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="mr-2">
                              <img class="thumbnail" width="65" height="65" src="{{ post.user.profile.image.url }}" alt="">
                          </div>
                          <div class="ml-2">
                              <div class="h5 mb-1">
                                <a class="mr-2" style="color:inherit" href="{% url 'main:user-posts' post.user.username %}">{{ post.user }}</a>
                              </div>
                              <div class="h7">
                                <a href="{% url 'main:post-detail' post.id %}" class="btn btn-outline-dark btn-sm" >{{ post.ticker | upper }}</a>
                                <span class="text-muted">
                                from {{ post.date_posted| naturaltime }}
                                </span>
                                <br>
                                {% for tag in post.tags.all %}
                                 <span class="badge badge-secondary mt-1" > {{ tag.name }} </span>
                                {% endfor %}
                              </div>
                          </div>
                      </div>
                      <div>
                          <!--div class="dropdown">
                              <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fa fa-ellipsis-h"></i>
                              </button>
                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                  <div class="h6 dropdown-header">Configuration</div>
                                  <a class="dropdown-item" href="#">Save</a>
                                  <a class="dropdown-item" href="#">Hide</a>
                                  <a class="dropdown-item" href="#">Report</a>
                              </div>
                          </div-->
                      </div>
                  </div>
              </div>
              <div class="card-body">
                  <a class="card-link" href="#">
                      <!-- h5 class="card-title"> Title </h5 -->
                  </a>
                  {% if post.image %}
                  <p class="card-text">
                    <img width=480 height= 400 src="{{ post.image.url }}" alt="">
                  </p>
                  {%  endif %}
                  <p class="card-text">
                      <span class="text-muted">{{ post.date_traded | date:"D, M d, Y"}}</span>
                      <br>
                    {{ post.content }}
                  </p>
              </div>
              {% include "main/includes/post_footer.html" %}
                
          </div>
          <br>
          {% endfor %}


          {% if is_paginated %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="{% relative_url 1 'page' request.GET.urlencode %}">First</a></li>
                        <li class="page-item"><a class="page-link" href="{% relative_url page_obj.previous_page_number 'page' request.GET.urlencode %}">Previous</a></li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %} <!-- loop the pages for num as current page-->
                        <li class="page-item active"><a class="page-link" href="{% relative_url  num  'page' request.GET.urlencode %}">{{ num }}</a></li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="{% relative_url  num  'page' request.GET.urlencode %}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="{% relative_url page_obj.next_page_number 'page' request.GET.urlencode %}">Next</a></li>
                       
                        <li class="page-item"><a class="page-link" href="{% relative_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Last</a></li>
                    {% endif %}
                    </ul>
                </nav>
          {% endif %}
          <!-- Post /////-->
      </div>
      <div class="col-md-3">
          <div class="card gedf-card">
              <div class="card-body">
                  <h5 class="card-title">Side bar</h5>
                  <h6 class="card-subtitle mb-2 text-muted">some shit here</h6>
                  <p class="card-text">some resources here</p>
                  <a href="#" class="card-link">links</a>
                  <a href="#" class="card-link">links</a>
              </div>
          </div>
          <br>
          <div class="card gedf-card">
                  <div class="card-body">
                      <h5 class="card-title">Side bar</h5>
                      <h6 class="card-subtitle mb-2 text-muted">some shit here</h6>
                      <p class="card-text">some resources here</p>
                      <a href="#" class="card-link">links</a>
                      <a href="#" class="card-link">links</a>
                  </div>
              </div>
      </div>
  </div>
</div>


{% endblock %}

