
{% extends 'main/header.html' %}
{% block head_title %}Home{% endblock head_title %}
{% load crispy_forms_tags %}
{% block content %}
{% include "main/includes/messages.html" %}
{% load mytemplatetags %}
{% load static %}
<script src="{% static 'tagsinput.js' %}"></script>
<link rel="stylesheet" href="{% static 'tagsinput.css' %}"/>
<link rel="stylesheet" href="{% static 'tagsinput.css' %}"/>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div class='row text-center'>
  <div class='col'>
      <h3>Trader Feed</h3>
  </div>
</div>

<div class="container gedf-wrapper">
    {% if user.is_authenticated %}
  <div class="row">
      <div class="col-md-3">
          <div class="card">
              <div class="card-body">
                  <div class="h5"><img class="thumbnail" width="90" height="90" src="{{ user.profile.image.url  }}" alt=""></div>
                  <div class="h7"><strong>{{ user.username }}</strong></div>
                  <div class="h7">{{ user.profile.bio }}</div>
              </div>
              <hr>
              <div class="row full-width pl-2">
                <div style="text-align: center;" class="col-5">
                    <div class="h6 text-muted">Following</div>
              </div>
               <div style="text-align: center;" class="col-5">
                    <div class="h6 text-muted">Followers</div>
              </div>
            </div>
            
            <div  class="row full-width pl-2">
                <div style="text-align: center;" class="col-5">
                    <a style="color:inherit;" class="h5" href="{% url 'main:following' user.username %}">{{ user.profile.following }}</a>
                </div>
                    <div style="text-align: center;" class="col-5">
                        <a style="color:inherit" class="h5" href="{% url 'main:followers' user.username %}">{{ user.profile.followers }}</a>
                    </div>
            </div>
            <br>
          </div>
      </div>
      <div class="col-md-6 gedf-main" >
          <!--- \\\\\\\Post-->
          <div style="color:white" class="card gedf-card navbar navbar-expand-lg navbar-dark bg-dark" >
              <div class="card-header">
                <form method="GET" enctype="multipart/form-data">
                    {{ filter.form | crispy }}

                     <!-- DatePicker -->

                     <script>
                        $(function () {
                        $(".datepicker").datepicker();
                        });
                    </script>
                    <!-- DatePicker -->

                    <div class="col text-center">
                <button class="btn btn-outline-info"type="submit">Search</button>
            </div>
                </form>
              </div>
          </div>
          {% else %}
          <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Please sign in to create posts and view profiles.</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 gedf-main" >
                <!--- \\\\\\\Post-->
          {% endif %}
          <br>
         
          {% for post in object_list %} <!-- using FilterView which inherits from MultipleObjectMixin so have to use 'object_list'-->
          

          
{% load humanize %}
          <!--- \\\\\\\Post-->
          {% include "main/includes/post.html" %}
          {% endfor %}


          {% if is_paginated %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="{% relative_url 1 'page' request.GET.urlencode %}">First</a></li>
                        <li class="page-item"><a class="page-link" href="{% relative_url page_obj.previous_page_number 'page' request.GET.urlencode %}">Previous</a></li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %} <!-- loop the pages for num as current page-->
                        <li class="page-item active"><a class="page-link" href="{% relative_url  num  'page' request.GET.urlencode %}">{{ num }}</a></li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="{% relative_url  num  'page' request.GET.urlencode %}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="{% relative_url page_obj.next_page_number 'page' request.GET.urlencode %}">Next</a></li>
                       
                        <li class="page-item"><a class="page-link" href="{% relative_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Last</a></li>
                    {% endif %}
                    </ul>
                </nav>
          {% endif %}
          <!-- Post /////-->
      </div>
      {% include "main/includes/sidebar.html"%}
  </div>
</div>


{% endblock %}

