{% extends 'main/header.html' %}
{% block head_title %}Home{% endblock head_title %}
{% block content %}
{% include "main/includes/messages.html" %}
<div class="container gedf-wrapper">
    
  <div class="row">
      
    
      <div class="col-md-7 gedf-main" >
        <div class="card gedf-card navbar navbar-expand-lg navbar-dark bg-dark" >
            <div style="color:white" class="card-header">
                        Trades by {{ view.kwargs.username }}
            </div>
        </div>
          <br>
          {% for post in posts %}
          
          {% include "main/includes/post.html" %}
          
          {% endfor %}
          {% include "main/includes/pagination.html"%}

      </div>
      <div class="col-md-3">
        <div class="card">
            <div class="card-body">
              {% for profile in user_profile %}
                <div class="h5"><img class="thumbnail" width="90" height="90" src="{{ profile.image.url }}" alt=""></div>
                <div class="h7"><strong>{{ profile.user }}</strong></div>
                <div class="h7">{{ profile.bio }}</div>
                
            </div>
            <hr>
            <div class="row full-width pl-2">
                <div style="text-align: center;" class="col-5">
                    <div class="h6 text-muted">Following</div>
              </div>
               <div style="text-align: center;" class="col-5">
                    <div class="h6 text-muted">Followers</div>
              </div>
            </div>
            
            <div  class="row full-width pl-2">
                <div style="text-align: center;" class="col-5">
                    <a style="color:inherit;" class="h5" href="{% url 'main:followers' user.username %}">{{ user.profile.following }}</a>
                </div>
                    <div style="text-align: center;" class="col-5">
                        <a style="color:inherit" class="h5" href="{% url 'main:followers' user.username %}">{{ user.profile.followers }}</a>
                    </div>
            </div>
            {% endfor %}
            <hr>
            <form method="POST">
                {% csrf_token %}
                {%  if user.username != view.kwargs.username %} 
            <div style="text-align: center;"class="row full-width pl-2">
                <div class="col-5">
                    <button class="btn btn-sm btn-outline-info"
                                name="{% if followable %}follow{% else %}unfollow{% endif %}"  
                                type="submit">
                                {% if followable %}
                                  Follow
                                {% else %}
                                  Unfollow
                                {% endif %}
                        </button>
                </div>
                    <div class="col-5">
                        <a class="btn btn-sm btn-outline-info" href="{% url 'main:message' view.kwargs.username %}">
                            Message
                        </a>
                    </div>
            </div>
            </form>
              {% endif %}         

        </div>
    </div>
  </div>
</div>
{% endblock %}