<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">ChartsAH</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="/feed">Feed</a>
      {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if unread_count %}
          <svg viewBox="0 0 8 8"
               width="8px"
               height="8px">
              <circle cx="4"
                      cy="4"
                      r="4"
                      fill="#ff6b6b"
                      ></circle>
          </svg>
         {% endif %}
      
         {{ user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/profile">Profile</a>
          <a class="dropdown-item" href="{% url 'notice:list' %}">Notifications
            {% if unread_count %}
                <span class="badge badge-danger">{{ unread_count }}</span>
                {% endif %}
            </a>
          </a>
          <a class="dropdown-item" href="/messages">Messages</a>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
      {% else %}
      <a class="nav-link" href="/login">Login</a>
      <a class="nav-link" href="/register">Register</a>
      {% endif %}
    </div>
  </div>
  <span class="nav-item dropdown">
    <a class="nav-link" href="/search/filter/"  aria-haspopup="true" aria-expanded="false" style="color:rgb(23,162,184)">
      Advanced Search
    </a>
  </span>
  <form class="form-inline" method="GET" action="{% url 'main:search' %}">
    <input class="form-control mt-2 mr-sm-2" type="search" placeholder="Tags/Ticker/Users" aria-label="Search" name="q" required>
    <button class="btn btn-outline-info mt-2 mr-sm-2" type="submit" value="Search">Search</button>
  </form>
</nav>




