<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">ChartsAH</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="/feed">Feed <span class="sr-only">(current)</span></a>
      {% if user.is_authenticated %}
      <a class="nav-link" href="/profile">{{user.username|title}}</a>
      <a class="nav-link" href="/logout">Logout</a>
      {% else %}
      <a class="nav-link" href="/login">Login</a>
      <a class="nav-link" href="/register">Register</a>
      {% endif %}
    </div>
  </div>
  <span class="nav-item dropdown">
    <a class="nav-link" href="/search/filter/"  aria-haspopup="true" aria-expanded="false" style="color:rgb(23,162,184)">
      Advanced Search
    </a>
    <!--
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
    -->
  </span>
  <form class="form-inline" method="GET" action="{% url 'main:search' %}">
    <input class="form-control mt-2 mr-sm-2" type="search" placeholder="Search by ticker/tags" aria-label="Search" name="q" required>
    <button class="btn btn-outline-info mt-2 mr-sm-2" type="submit" value="Search">Search</button>
  </form>
</nav>




